.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: bisque;
  /* float: right; */
  /* height: 800px; */
}

.categories{
    height: 695px;
    display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;

}
.plan{
  height: 695px;
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-right: 100px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.category-img{
  height: 170px;
  width: 60px;
}

.start{
  background-color: lightblue;
  border-radius: 10px;
  width: 100px;
  border: hidden;
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}
.start:hover{
  background-color: rgb(140, 191, 207);
  border-radius: 10px;
  width: 120px;
  border: hidden;
  color: white;
  font-weight: bold;
  transition: 0.5s;
}

.complete-icon{
margin-left: 15px;
}
.add-icon{
margin: 15px;

}




li{
list-style: none;
}

li img{
  height: 5%;
  width: 5%;
}

.channel-pic{

  width: 30px;
  height: 15px;
  border-radius: 30px;
}

.play-list-window{
    width: 400px;
    height: 600px;
    overflow: scroll;
    background-color: lightgrey;
    /* float: left; */
    margin:auto;
    position: absolute;
    top: 5em;
    left: 350px;

}

#video {
  border: 2px groove darkblue;
  padding: 10px;
  width: auto;
  height: auto;
  position: absolute;
  top: 12em;
  right: -15px;
}
.video-conainer{
  float: left;
}

.play-course{
  /* max-width: 900px; */
  position: relative;
}

.card{
  width: 200px;
  float: left;
  margin: 20px;
}

.home{
  background-image:url('./image/background.jpg') ;
  background-color: #cccccc;
  height:700px; 
  width: 100%;
  background-position: 100%; 
  background-repeat: no-repeat;
  background-size: 100%;
}

.quete{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  color: #282c34;
}

#list-item{
display: flex;
border: 1px solid ;
justify-content: center;
align-items: center;
margin-bottom: 10px;
margin-left: -40px;
}

#item-img{
  width: 20%;
  height: 20%

}

#item-title{
  font-size: medium;

}

#list-item:hover{
 background-color: mediumslateblue;
  }

  .active-item{
    background-color: mediumslateblue;
  }

